@font-face {
    font-family: "Gued";
    src: url("/fonts/gued.regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 10rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.temp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65.5rem;
    height: 46.75rem;
    min-height: 46.75rem;
    flex-shrink: 0;
    border-radius: 0.92675rem;
    opacity: 0.54;
    background: #fff;
    backdrop-filter: blur(11.949999809265137px);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='%233c56b1' stroke-width='3' stroke-dasharray='10%2c 10' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}

.temp p {
    max-width: 28.9375rem;
    width: 90%;
    color: #616161;
    text-align: center;
    font-family: "Gued", sans-serif;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
