.pageBg {
  display: flex;
  justify-content: center;

  width: 100%;
}

.mobileFrame {
  width: 65.5rem; /* ✅ same as .temp */
  max-width: 100%;
}

.imgGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  align-items: start;
}
